@{

}
 

<html lang="en">



<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<style>
    ul {
        border: 1px solid rgb(238,238,238);
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        font-size: 15px;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.66;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: #333;
            font-family: "Libre Franklin", "Helvetica Nue", "Arial", "Helvetica", "sans-serif";
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    /* mouse over link */
    a:hover {
        color: rgb(150,150,150);
    }

    /* Style the header with a grey background and some padding */
    .header {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
    }

        /* Style the header links */
        .header a {
            float: left;
            color: black;
            margin: 0;
            text-align: center;
            padding: 30px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }

    body {
        padding-top: 0;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }

    /* Change the background color on mouse-over */
    .header a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active/current link*/
    .header a.active {
        background-color: dodgerblue;
        color: white;
    }

    /* Float the link section to the right */
    .header-right {
        float: right;
    }

    #bodyIndex {
        position: relative;
        margin-left: 120px;
        padding-left: 15px;
        padding-top: 5px;
        width: 660px;
        /*padding-bottom: 70px;*/
        /*height: 100%;*/
        /*top: 80px;   */
        /*background-color: #c8c8c8;*/
        background-color: #fff6d1;
        /*clear: both;*/
        clear: none;
        padding-bottom: 60px;
        min-height: 100%;
        height: auto;
    }


    #feedContainer {
        position: relative;
        /*    top: 0px;*/
        top: 0px;
        bottom: 0;
        width: 180px;
        padding-left: 5px;
        left: 800px;
        font-size: larger;
        font-weight: bold;
        color: black;
        border-left: thin solid #e0e0e0;
        clear: none;
    }

    container {
        margin-left: auto;
        margin-right: auto;
    }

    /* Make the image fully responsive */
    .carousel-inner img {
        width: 500px;
        height: 650px;
    }

    a {
        color: white;
    }

    .mySlides {
        display: none;
    }

    * {
        box-sizing: border-box
    }

    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }

    img {
        vertical-align: middle;
    }

  

</style>

<body>


    <!-- Page Content -->
    <div class="header">
        <a href="#default" class="logo">Fondanti - Fabulous Cakes</a>
    </div>

    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>

    <div class="container-fluid">
        <div class=" row">
            <div class="col-sm-6">
                <h3>Bruidstaart</h3>
                <a href="~/Samenstellen2.cshtml">
                    <img src="~/img/bruidstaart.jpg" width="500" height="650">
                </a>
            </div>

            <div class="col-sm-6">
                <h3>Kindertaart</h3>
                <a href="~/Samenstellen2.cshtml">
                    <img src="~/img/legotaart.jpg" width="500" height="650">
                </a>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

